 <div class="container" style="background-color: #101010;">
  <h2 class="my-4 text-center text-white">Workshop Products</h2>

  <button class="btn custom-button-bg mb-3 shadow-sm" (click)="openModal(content)">
    Add New Product
  </button>

  <div *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
    {{ alertMessage }}
    <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
  </div>

  <div class="table-responsive">
    <table class="table table-dark text-white rounded-3 shadow-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Color</th>
          <th scope="col">Category</th>
          <th scope="col">Quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td><img [src]="product.images[0]" alt="Product Image" style="width: 100px; height: auto;" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.color }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
          <td>
          <button class="btn custom-button-bg shadow-sm" (click)="deleteProduct(product._id)">
              <fa-icon [icon]="faTrash"></fa-icon> 
          </button>
           
            <button class="btn custom-button-bg shadow-sm" (click)="openModal(content, product)">
              <fa-icon [icon]="faEdit"></fa-icon> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header" style="background-color: #2B2B2B;">
      <h5 class="modal-title text-white">{{ isEditMode ? 'Edit' : 'Add' }} Product</h5>
      <button type="button" class="btn-close text-white" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body" style="background-color: #1F1F1F; color: white;">
      <div class="mb-3">
        <label for="productName" class="form-label">Product Name</label>
        <input [(ngModel)]="selectedProduct!.name" type="text" id="productName" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="productDescription" class="form-label">Product Description</label>
        <textarea [(ngModel)]="selectedProduct!.description" id="productDescription" class="form-control" required></textarea>
      </div>
      <div class="mb-3">
        <label for="productPrice" class="form-label">Product Price</label>
        <input [(ngModel)]="selectedProduct!.price" type="number" id="productPrice" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="productColor" class="form-label">Product Color</label>
        <select [(ngModel)]="selectedProduct!.color" id="productColor" class="form-control">
          <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="productCategory" class="form-label">Product Category</label>
        <input [(ngModel)]="selectedProduct!.category" type="text" id="productCategory" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="productQuantity" class="form-label">Product Quantity</label>
        <input [(ngModel)]="selectedProduct!.quantity" type="number" id="productQuantity" class="form-control" required />
      </div>
      <div class="mb-3">
        <label for="productImages" class="form-label">Product Images</label>
        <input type="file" id="productImages" (change)="onFileSelected($event)" multiple class="form-control" />
      </div>
    </div>
    <div class="modal-footer" style="background-color: #2B2B2B;">
      <button type="button" class="btn custom-button-bg" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn custom-button-bg shadow-sm" (click)="saveProduct()">
        {{ isEditMode ? 'Update Product' : 'Add Product' }}
      </button>
    </div>
  </ng-template>
</div> 
  

