 
     .bgColor{
       background-color: #21222d;
     }
    .card {
      background-color: #171821;
      border: none;
      /* box-shadow: 5px  #171821 ; */
    }
.color1{
color: rgb(252, 184, 89);
}
.color2{
  color: rgb(169, 223, 216);
}
.color3{
  color: rgb(242, 200, 237);
}
.color4{
  color: rgb(32, 174, 243);
}

/* section toe */
    h3 {
  font-size: 1.5rem;
}

.list-group-item {
  border: none;
  margin-bottom: 10px;
}

.badge {
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
}



/* three */


#customTooltip {
  transition: all 0.2s ease-in-out;
  pointer-events: none; /* لمنع تفاعل المؤشر مع الـ tooltip */
}
/* five */
.badge2 {
  font-size: 16px;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}


table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  vertical-align: middle;
}

.page-link {
  color: #00aaff; /
}

.page-item.active .page-link {
  background-color: #00aaff;
  border-color: #00aaff;
}

